.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  height: 65px;
  width: 97%;
  background-color: #282828;
  padding: 20px;

  &__left {
    flex: 0.3;
    display: flex;
    align-items: center;
    color: #ffffff;
    max-width: 300px;

    &__albumLogo {
      height: 60px;
      width: 60px;
      margin-right: 20px;
      object-fit: contain;
    }

    &__songInfo {
      & > h4 {
        margin-bottom: 5px;
      }
      & > p {
        font-size: 12px;
      }
    }
  }

  &__center {
    flex: 0.4;
    padding: 0 100px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;

    &__green {
      color: #1ed15e;
    }

    &__icon {
    }

    &__green:hover,
    &__icon:hover {
      transition: transform 0.2s ease-in-out;
      transform: scale(1.2) !important;
    }
  }

  &__right {
    flex: 0.3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;

    & * .MuiSlider-root{
      color: green;
    }

  }
}
